extends layout

block content
  .container
    .row
      .col-lg-3
        h1.my-4 Filters
        form.compact-form(method='get')
          label Sort
            select(name='sort')
              option(value='created_at', selected=(sort=='created_at')) Created at
              option(value='price' selected=(sort=='price')) Price
              option(value='name' selected=(sort=='name')) Name
          label
            input(type='radio', name='ascOrDesc', value='asc', checked=(ascOrDesc=='asc'))
            | Ascending
          label
            input(type='radio', name='ascOrDesc', value='desc', checked=(ascOrDesc=='desc'))
            | Descending
          //- label Placeholder
          //-   input(name='name', type='text', placeholder='Placeholder')
          //- label
          //-   input(name='name', type='checkbox')
          //-   | Placeholder
          button(type='submit') Filter
      .col-lg-9
        .row
          each item in items
            .col-lg-4.col-md-6.mb-4
                .card.h-100
                  a(href=`/${item.type}s/${item.id}/show`)
                    img.card-img-top(src=item.image, alt='')
                  .card-body
                    h4.card-title
                      a(href=`/${item.type}s/${item.id}/show`) #{item.name}
                    h5 #{formatPrice(item.price, item.period)}
                    p.card-text
                      | #{item.description}
        nav
          ul.pagination
            for i in pages
              li.page-item(class=(pageNum === i ? 'active' : ''))
                a.page-link(href='?pageNum=' + i) #{i}
