extends layout

block content
  .container
    .row
      .col-lg-3
        form.compact-form(method='get')
          h4 Sort
            select(name='sort')
              option(value='created_at', selected=(sort=='created_at')) Created at
              option(value='price' selected=(sort=='price')) Price
              option(value='name' selected=(sort=='name')) Name
              option(value='popularity_score' selected=(sort=='popularity_score')) Popularity
          label
            input(type='radio', name='ascOrDesc', value='asc', checked=(ascOrDesc=='asc'))
            | Ascending
          label
            input(type='radio', name='ascOrDesc', value='desc', checked=(ascOrDesc=='desc'))
            | Descending
          hr
          h4 Show
          label
            // based on https://stackoverflow.com/a/25764926
            input(type='hidden', name='showProducts', value=showProducts)
            input(type='checkbox', onclick='this.previousSibling.value=1-this.previousSibling.value', checked=!!+showProducts)
            | Products
          label
            input(type='hidden', name='showSubscriptions', value=showSubscriptions)
            input(type='checkbox', onclick='this.previousSibling.value=1-this.previousSibling.value', checked=!!+showSubscriptions)
            | Subscriptions
          hr
          h4 Price
          .input-group
            span.input-group-text $
            input(type='number', name='minPriceUSD', placeholder='Minimum price', value=minPriceUSD)
          .input-group
            span.input-group-text $
            input(type='number', name='maxPriceUSD', placeholder='Maximum price', value=maxPriceUSD)
          hr
          h4 Specs
          input(type='text', name='specName', placeholder='Spec name', value=specName)
          input(type='text', name='specValue', placeholder='Value (default all)', value=specValue)
          //- label Placeholder
          //-   input(name='name', type='text', placeholder='Placeholder')
          button(type='submit') Filter
      .col-lg-9
        .row
          each item in items
            .col-lg-4.col-md-6.mb-4
                .card.h-100
                  a(href=`/${item.type}s/${item.id}/show`)
                    img.card-img-top(src=item.image, alt='')
                  .card-body
                    h4.card-title
                      a(href=`/${item.type}s/${item.id}/show`) #{item.name}
                    h5 #{formatPrice(item.price, item.period)}
                    p.card-text
                      | #{item.description}
        nav
          ul.pagination
            for i in pages
              li.page-item(class=(pageNum == i ? 'active' : ''))
                a.page-link(href='#', onclick=`goToPage(${i})`) #{i}
