extends ../layout

block content
  .center.col-lg-9
    h1.mt-4 #{name}
    p.lead #{formatPrice(price)}
    p
      | by 
      a(href='#') Not Implemented
    img.img-fluid.rounded(src='http://placehold.it/700x400')
    p #{description}
    button.btn.bg-info#display-route Show me how to go to shop
    button.mx-2.btn.btn-success(onclick=`addToBasket("product", ${id})`) + Add to basket
    #map.d-none
    table.table.bg-info.d-none#route
      thead
        tr
          th From
          th To
          th Price
          th Ticket
      tbody
    button.mx-2.btn.btn-info.float-right.mb-2.d-none#tickets-to-basket + Add all to basket
  script.
    PAGE_GLOBALS.organizationId = #{organizationId}
  script(src='/javascripts/product_location.js')
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyANOqIPotmSueWJZBye_1CMVmp3gMm5gMQ&callback=initMap')


